/* =====
Large devices (desktops, 992px and up) 
========*/
@media screen and (min-width: 992px) and (max-width: 1260px) {
    .top-area{
        background-color: transparent;
        width: 100%;
        box-shadow: none;
     }
    .nav-container{
        flex-direction: column;
        gap: 35px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info{
        width: 100%;
        margin-top: 0px;
    }
    .video{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 14px;
        margin-top: 48px;
    }
    .overlay{
        position: absolute;
        top: 38%;
        left: 38%;
        translate: (-50%, -25%);

    }
    .box p{
        width: 50%;
        height: 80px;
        margin: 0 auto;
    }
    .card-container{
        flex-direction: column;
        gap: 80px;
    }
    .card-info{
        width: 40%;
        text-align: center;
    }
    .img1{
        margin-left: 120px;
    }
    .img2 {
        position: absolute;
        margin-top: 375px;
        margin-left: -800px;
    }
    .explore-container{
        grid-template-columns: repeat(3, 1fr);
    }

}


/* =====
 Medium devices (tablets, 768px and up)
========*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .top-area{
        background-color: transparent;
        width: 100%;
        box-shadow: none;
     }
    .nav-container{
        flex-direction: column;
        gap: 35px;
    }
    nav > ul{
        flex-direction: column;
        
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info{
        width: 100%;
        margin-top: 0px;
    }
    .banner-img{
        margin-left: -130px;
    }
    .video{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 14px;
        margin-top: 48px;
    }
    .overlay{
        position: absolute;
        top: 38%;
        left: 38%;
        translate: (-50%, -25%);

    }
    .box p{
        width: 50%;
        height: 80px;
        margin: 0 auto;
    }
    .card-container{
        flex-direction: column;
        gap: 80px;
    }
    .card-info{
        width: 40%;
        text-align: center;
    }
    .img1{
        margin-left: 120px;
        width: 500px;
        height: 500px;
    }
    .img2 {
        position: absolute;
        margin-top: 285px;
        margin-left: -620px;
        width: 250px;
        height: 300px;
    }
    .explore-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .gap{
        margin-left: 40px;
    }
    .gap1{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .bottom-nav li{
        list-style: none;
        display: inline;
        cursor: pointer;
    }
    .copy-right{
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-weight: 500;
    }
}


/* =====
  Small devices (landscape phones, 576px and up)
========*/

@media screen and (min-width: 576px) and (max-width: 767px) {

    .common-tittle{
        font-size: 38px;
        font-weight: 600;
        width: 280px;
        margin: 0 auto;
    }
    .common-text{
        font-size: 19px;
        font-weight: 400;
        width: 280px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .top-area{
        background-color: transparent;
        width: 100%;
        box-shadow: none;
     }
    .nav-container{
        flex-direction: column;
        gap: 35px;
        padding: 0;
    }
    nav > ul{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info{
        width: 90%;
        margin-top: 50px;
        padding: 50px 0px;
        text-align: center;
        
    }
    .banner-tittle{
        font-size: 38px;
        font-weight: 500;
    }
    .big-text{
        font-size: 50px;
        font-weight: 700;
    }
    .text{
        font-size: 16px;
        font-weight: 400;
    }
    .banner-icon{
        flex-direction: column;
    }
    .banner-img{
        margin-left: -130px;
    }
    .banner{
        width: 400px;
        height: 400px;
    }
    .video{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 14px;
        margin-top: 48px;
    }
    .overlay{
        position: absolute;
        top: 38%;
        left: 40%;
        translate: (-50%, -25%);

    }
    .box p{
        width: 50%;
        height: 80px;
        margin: 0 auto;
    }
    .card-container{
        flex-direction: column;
        gap: 80px;
    }
    .card-info{
        width: 40%;
        text-align: center;
    }
    .img1{
        margin-left: 120px;
        width: 300px;
        height: 300px;
    }
    .img2 {
        position: absolute;
        margin-top: 190px;
        margin-left: -380px;
        width: 150px;
        height: 200px;
    }
    .explore-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .bottom-nav li{
        list-style: none;
        display: inline;
        cursor: pointer;
    }
    .bottom-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    .copy-right{
        font-size: 12px;
        font-weight: 400;
    }
    
    .footer-nav  li{
        font-size: 16px;
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .game-box{
        color: #0B0223;
        font-size: 14px;
        font-weight: 400;
    }
}

/* =====
 X-Small devices (portrait phones, less than 576px)
========*/

@media screen and (max-width: 575px) {

    .common-tittle{
        font-size: 38px;
        font-weight: 600;
        width: 280px;
        margin: 0 auto;
    }
    .common-text{
        font-size: 19px;
        font-weight: 400;
        width: 280px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .top-area{
        background-color: transparent;
        width: 100%;
        box-shadow: none;
     }
    .nav-container{
        flex-direction: column;
        gap: 35px;
        padding: 0;
    }
    nav > ul{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info{
        width: 90%;
        margin-top: 50px;
        padding: 50px 0px;
        text-align: center;
        
    }
    .banner-tittle{
        font-size: 38px;
        font-weight: 500;
    }
    .big-text{
        font-size: 50px;
        font-weight: 700;
    }
    .text{
        font-size: 16px;
        font-weight: 400;
    }
    .banner-icon{
        flex-direction: column;
    }
    .banner-img{
        margin-left: -130px;
    }
    .banner{
        width: 350px;
        height: 350px;
    }
    .video{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 14px;
        margin-top: 48px;
    }
    .overlay{
        position: absolute;
        top: 38%;
        left: 40%;
        translate: (-50%, -25%);

    }
    .box p{
        width: 50%;
        height: 80px;
        margin: 0 auto;
    }
    .card-container{
        flex-direction: column;
        gap: 80px;
    }
    .card-info{
        text-align: center;
    }
    .img1{
        margin-left: 50px;
        width: 280px;
        height: 280px;
    }
    .img2 {
        position: absolute;
        margin-top: 165px;
        margin-left: -330px;
        width: 100px;
        height: 150px;
    }
    .explore-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .bottom-nav li{
        list-style: none;
        display: inline;
        cursor: pointer;
    }
    .bottom-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      align-items: center;
    }
    .gap3{
        margin-left: 0px;
    }
    .copy-right{
        font-size: 12px;
        font-weight: 400;
    }
    
    .footer-nav  li{
        font-size: 16px;
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .game-box{
        color: #0B0223;
        font-size: 14px;
        font-weight: 400;
    }
}



